In [1]:
import pandas as pd
import numpy as np
import pickle
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [2]:
with open("News_dataset.pickle", 'rb') as data:
    df = pickle.load(data)

In [3]:
df.head()

,File_Name,Content,Category,Complete_Filename,id,News_length
0,001.txt,Ad sales boost Time Warner profit\r\n\r\nQuart...,business,001.txt-business,1,2569
1,002.txt,Dollar gains on Greenspan speech\r\n\r\nThe do...,business,002.txt-business,1,2257
2,003.txt,Yukos unit buyer faces loan claim\r\n\r\nThe o...,business,003.txt-business,1,1557
3,004.txt,High fuel prices hit BA's profits\r\n\r\nBriti...,business,004.txt-business,1,2421
4,005.txt,Pernod takeover talk lifts Domecq\r\n\r\nShare...,business,005.txt-business,1,1575

In [4]:
df['Content_Parsed_1'] = df['Content'].str.replace("\r", " ")
df['Content_Parsed_1'] = df['Content_Parsed_1'].str.replace("\n", " ")
df['Content_Parsed_1'] = df['Content_Parsed_1'].str.replace("    ", " ")
df['Content_Parsed_1'] = df['Content_Parsed_1'].str.replace('"', '')

In [5]:
# lowercase
df['Content_Parsed_2'] = df['Content_Parsed_1'].str.lower()        

# remove punctuations
punctuation_signs = list("?:!.,;")                                  
df['Content_Parsed_3'] = df['Content_Parsed_2']

for punct_sign in punctuation_signs:
    df['Content_Parsed_3'] = df['Content_Parsed_3'].str.replace(punct_sign, '')


df['Content_Parsed_4'] = df['Content_Parsed_3'].str.replace("'s", "")

In [6]:
df.iloc[5]['Content_Parsed_4']

'japan narrowly escapes recession japan economy teetered on the brink of a technical recession in the three months to september figures show revised figures indicated growth of just 01% - and a similar-sized contraction in the previous quarter on an annual basis the data suggests annual growth of just 02% suggesting a much more hesitant recovery than had previously been thought a common technical definition of a recession is two successive quarters of negative growth the government was keen to play down the worrying implications of the data i maintain the view that japan economy remains in a minor adjustment phase in an upward climb and we will monitor developments carefully said economy minister heizo takenaka but in the face of the strengthening yen making exports less competitive and indications of weakening economic conditions ahead observers were less sanguine it painting a picture of a recovery much patchier than previously thought said paul sheard economist at lehman brothers in tokyo improvements in the job market apparently have yet to feed through to domestic demand with private consumption up just 02% in the third quarter'

# WordNet Lemmatization

In [7]:
nltk.download('punkt')
nltk.download('wordnet')

nltk.download('averaged_perceptron_tagger')
from nltk.corpus import wordnet

[nltk_data] Downloading package punkt to C:\Users\Mitesh Manoj
[nltk_data]     Adake\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\Mitesh Manoj
[nltk_data]     Adake\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Mitesh Manoj
[nltk_data]     Adake\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [8]:
lemmatizer = WordNetLemmatizer()

In [9]:
# Convert nltk tag to wordnet tag
def nltk_tag_to_wordnet_tag(nltk_tag):
    if nltk_tag.startswith('J'):
        return wordnet.ADJ
    elif nltk_tag.startswith('V'):
        return wordnet.VERB
    elif nltk_tag.startswith('N'):
        return wordnet.NOUN
    elif nltk_tag.startswith('R'):
        return wordnet.ADV
    else:          
        return None

In [10]:
def lemmatize_sentence(sentence):
    # tokenize the sentence and find the POS tag for each token
    nltk_tagged = nltk.pos_tag(nltk.word_tokenize(sentence))  
    # tuple of (token, wordnet_tag)
    wordnet_tagged = map(lambda x: (x[0], nltk_tag_to_wordnet_tag(x[1])), nltk_tagged)
    lemmatized_sentence = []
    for word, tag in wordnet_tagged:
        if tag is None:
            # if there is no available tag, append the token as is
            lemmatized_sentence.append(word)
        else:        
            # else use the tag to lemmatize the token
            lemmatized_sentence.append(lemmatizer.lemmatize(word, tag))
    return " ".join(lemmatized_sentence)

In [11]:
nrows = len(df)
lemmatized_text_list = []

for row in range(0, nrows):
    lemmatized_text = lemmatize_sentence(df.loc[row]['Content_Parsed_4'])
    lemmatized_text_list.append(lemmatized_text)

df['Content_Parsed_5'] = lemmatized_text_list

In [12]:
df.iloc[5]['Content_Parsed_5']

'japan narrowly escape recession japan economy teeter on the brink of a technical recession in the three month to september figure show revised figure indicate growth of just 01 % - and a similar-sized contraction in the previous quarter on an annual basis the data suggest annual growth of just 02 % suggest a much more hesitant recovery than have previously be think a common technical definition of a recession be two successive quarter of negative growth the government be keen to play down the worrying implication of the data i maintain the view that japan economy remain in a minor adjustment phase in an upward climb and we will monitor development carefully say economy minister heizo takenaka but in the face of the strengthen yen make export less competitive and indication of weaken economic condition ahead observer be less sanguine it paint a picture of a recovery much patchy than previously think say paul sheard economist at lehman brother in tokyo improvement in the job market apparently have yet to fee through to domestic demand with private consumption up just 02 % in the third quarter'

# Stop Words Removal

In [13]:
stop_words = list(stopwords.words('english'))

In [14]:
df['Content_Parsed_6'] = df['Content_Parsed_5']

for stop_word in stop_words:

    regex_stopword = r"\b" + stop_word + r"\b"
    df['Content_Parsed_6'] = df['Content_Parsed_6'].str.replace(regex_stopword, '')

In [15]:
df.loc[5]['Content_Parsed_6']

'japan narrowly escape recession japan economy teeter   brink   technical recession   three month  september figure show revised figure indicate growth   01 % -   similar-sized contraction   previous quarter   annual basis  data suggest annual growth   02 % suggest  much  hesitant recovery   previously  think  common technical definition   recession  two successive quarter  negative growth  government  keen  play   worrying implication   data  maintain  view  japan economy remain   minor adjustment phase   upward climb    monitor development carefully say economy minister heizo takenaka    face   strengthen yen make export less competitive  indication  weaken economic condition ahead observer  less sanguine  paint  picture   recovery much patchy  previously think say paul sheard economist  lehman brother  tokyo improvement   job market apparently  yet  fee   domestic demand  private consumption   02 %   third quarter'

In [16]:
# Removing the old content_parsed columns

list_columns = ["File_Name", "Category", "Complete_Filename", "Content", "Content_Parsed_6"]
df = df[list_columns]

df = df.rename(columns={'Content_Parsed_6': 'Content_Parsed'})

# Label Encoding

In [17]:
category_codes = {
    'business': 0,
    'entertainment': 1,
    'politics': 2,
    'sport': 3,
    'tech': 4
}

# Category mapping
df['Category_Code'] = df['Category']
df = df.replace({'Category_Code':category_codes})

In [18]:
df.head()

,File_Name,Category,Complete_Filename,Content,Content_Parsed,Category_Code
0,001.txt,business,001.txt-business,Ad sales boost Time Warner profit\r\n\r\nQuart...,ad sale boost time warner profit quarterly pro...,0
1,002.txt,business,002.txt-business,Dollar gains on Greenspan speech\r\n\r\nThe do...,dollar gain greenspan speech dollar hit hi...,0
2,003.txt,business,003.txt-business,Yukos unit buyer faces loan claim\r\n\r\nThe o...,yukos unit buyer face loan claim owner embat...,0
3,004.txt,business,004.txt-business,High fuel prices hit BA's profits\r\n\r\nBriti...,high fuel price hit ba profit british airway ...,0
4,005.txt,business,005.txt-business,Pernod takeover talk lifts Domecq\r\n\r\nShare...,pernod takeover talk lift domecq share uk dri...,0

In [19]:
tfidf = TfidfVectorizer()
tfidf_vectorized = tfidf.fit_transform(df['Content_Parsed'])

In [20]:
df_tfidf_vectorized = pd.DataFrame(tfidf_vectorized.toarray(), columns=tfidf.get_feature_names())
df_tfidf_vectorized.head()

,000,0001,00051,001,002,003,004secs,007,01,0100,...,zoom,zooropa,zornotza,zorro,zubair,zuluaga,zurich,zutons,zvonareva,zvyagintsev
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
# Non-zero elements of vector
[i for i in list(df_tfidf_vectorized.loc[0]) if i]

[0.07049552217154262,
 0.07049552217154262,
 0.06243614727234318,
 0.03269809289193229,
 0.051657226357623265,
 0.026365272052807164,
 0.07677120150944808,
 0.07049552217154262,
 0.052773135309825754,
 0.07049552217154262,
 0.07049552217154262,
 0.07049552217154262,
 0.05167224379413272,
 0.05947665439113074,
 0.07049552217154262,
 0.04940446853513591,
 0.055501150291405066,
 0.06469243973819575,
 0.046108795146465965,
 0.04940446853513591,
 0.04697463982251519,
 0.09335290710711319,
 0.04863914669648686,
 0.02446102199888857,
 0.027518851293778932,
 0.03312723422312383,
 0.02754809306008016,
 0.3654383383191459,
 0.02599457381062731,
 0.045320597735662146,
 0.019435572062414957,
 0.03331776122221313,
 0.07049552217154262,
 0.021237474689931368,
 0.032818583167046604,
 0.06242989220745722,
 0.03448309004101827,
 0.03885481346518116,
 0.05726618000277693,
 0.05633946551607402,
 0.026106979845709588,
 0.07049552217154262,
 0.030212731990061165,
 0.02903259982548572,
 0.024747084692480933,
 0.02775030087434655,
 0.033644774816349324,
 0.042638286719277635,
 0.04350999459313314,
 0.03850057824210812,
 0.042361104854449716,
 0.06926183922770936,
 0.052788890112904205,
 0.029191801502663737,
 0.045320597735662146,
 0.04029136390903096,
 0.05775245710157849,
 0.04057977179728743,
 0.03178934705812961,
 0.043716960672344166,
 0.049013486276965744,
 0.03485742962149715,
 0.0557063503522934,
 0.046388045665300116,
 0.055501150291405066,
 0.03549162514132905,
 0.02754809306008016,
 0.03524841187966731,
 0.022253154115972604,
 0.03885481346518116,
 0.05356554244286224,
 0.028027352205136833,
 0.03077137383815036,
 0.02253122740767047,
 0.04940446853513591,
 0.05947665439113074,
 0.0234642222606064,
 0.045320597735662146,
 0.10133718658892826,
 0.03016774134191139,
 0.03184347432147292,
 0.05920577623647946,
 0.03426590240047601,
 0.03653788509917784,
 0.0317355508504551,
 0.020400637601983088,
 0.08919451999675457,
 0.05633946551607402,
 0.02834983587224177,
 0.028722588792206617,
 0.022644965878791442,
 0.08765238684672598,
 0.028423133400882972,
 0.023506206361970573,
 0.02633619548901964,
 0.04200923183161529,
 0.03783223260672426,
 0.12651574229981313,
 0.03591255007534613,
 0.04557556203786355,
 0.03897613473396945,
 0.0317355508504551,
 0.028423133400882972,
 0.03516881267092935,
 0.02511826434745945,
 0.03501174327316436,
 0.026905789346120423,
 0.04557556203786355,
 0.023422437609406887,
 0.029477532278577027,
 0.031523597159805836,
 0.04728329087859242,
 0.02032703338554968,
 0.02849704688236224,
 0.021385028705427085,
 0.05069394175464644,
 0.05008552944098982,
 0.028277144115224667,
 0.04863914669648686,
 0.03020048242688452,
 0.03168208167341905,
 0.035328738031877374,
 0.06692919196529436,
 0.02245621072662428,
 0.026661449952642833,
 0.0594601127883611,
 0.03391543163392764,
 0.07049552217154262,
 0.03557421403484619,
 0.047935118851778015,
 0.3398441749765025,
 0.03294074697164047,
 0.04760316804025951,
 0.04072760137012384,
 0.12251340778605413,
 0.04940446853513591,
 0.04350999459313314,
 0.023236824923577495,
 0.042361104854449716,
 0.044597259998377284,
 0.11895330878226149,
 0.05290616591440228,
 0.1426303430925789,
 0.03574175533923969,
 0.03783223260672426,
 0.04200923183161529,
 0.05033791978293211,
 0.1281943454709297,
 0.03223198900983152,
 0.04948535455319025,
 0.03885481346518116,
 0.10334448758826544,
 0.030395031832498205,
 0.024579086221709016,
 0.04199384450648965,
 0.04029136390903096,
 0.04330778677886674,
 0.02911184047436812,
 0.04072760137012384,
 0.04760316804025951,
 0.07148351067847938,
 0.12045189139828769,
 0.05387362921538277,
 0.09277609133060023,
 0.025271236073342432,
 0.040566329406822914,
 0.0486066350565963,
 0.4934686552007983,
 0.05473582845275603,
 0.024390936747309317,
 0.04350999459313314,
 0.053379972634861585,
 0.05179034618077909,
 0.030212731990061165,
 0.0321192226891417,
 0.21351989053944634,
 0.02041543264758364,
 0.04557556203786355,
 0.05011809618515799]